@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.header {
    width: 100%;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
}


// logo and icon default

.header__logo {
  position: relative;
  display: inline-block;
   width: 120px;
  height: 32px;
}

.header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

.theme-toggle {
  position: relative;
  display: inline-block;
    width: 24px;
  height: 24px;
}

.theme-toggle img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity .3s ease;
}

/* LIGHT MODE */
.logo-dark,
.theme-dark {
  opacity: 0;
  pointer-events: none;
}

.logo-light,
.theme-light {
  opacity: 1;
}



.navbar {
  .menu-toggle {
    display: none; 

    
    &:checked ~ .menu-overlay {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .burger-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    width: 100px;
    height: 37px;
    
    
    .icon {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 18px;

      span {
        display: block;
        height: 2px;
        width: 100%;
        background-color: #183B56;
        transition: 0.3s;
      }
    }
  }

  .menu-overlay {
    position: absolute;    
    right: 0;
    width: 200px; // ან 80% დიზაინის მიხედვით
    height: 350px;
    background: white;
    padding: 20px;
    transform: translateX(100%); // თავიდან დამალულია მარჯვნივ
    transition: transform 0.4s ease-in-out;
    z-index: 99;

    .menu-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;

      a {
        text-decoration: none;
        color: #000000;      
        font-size: 16px;
      }

      .btn-primary {
        display: block;
        padding: 12px 30px;
        border: 2px;
        border-radius: 8px;
        background-color: #000000;
        color: #F5F5F5;
        width: 100%;
        text-align: center;
      }
    }
  }
}

// dark mode

#theme-toggle:checked ~ .page {

  background-color: #0f172a;
  color: #ffffff;

  /* HEADER */
  .header {
    background-color: #0f172a;
  }

  /* LOGO SWITCH */
  .logo-light {
    opacity: 0;
  }

  .logo-dark {
    opacity: 1;
  }

  /* THEME ICON SWITCH */
  .theme-light {
    opacity: 0;
  }

  .theme-dark {
    opacity: 1;
  }

  /* BURGER */
  .burger-button .icon span {
    background-color: #ffffff;
  }

  /* MENU */
  .menu-overlay {
    background-color: #1E2A39;

    a {
      color: #ffffff;
    }

    .btn-primary {
      background-color: #ffffff;
      color: #0f172a;
    }
  }
}
